@import '../styles/shared';

.header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.button {
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  margin-block: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform, background-color, color, 0.2s ease-out;

  &:active {
    background-color: $clr-baby-blue;
    color: $clr-ivory;
  }
  &:hover {
    transform: scale(1.02);
  }
}