// =============
// Color
// =============
$clr-green-blue: #306BAC;
$clr-space-blue: #141B41;
$clr-little-boy-blue: #6F9CEB;
$clr-baby-blue: #98B9F2;
$clr-ivory: #FFFDED;
$clr-text: #041F1E;
$clr-orange: #D7CF07;
